.body {
  background-color: #222;
  color: #ddd;
  height: 600vh;
  perspective: 1000px;
  transform-style: preserve-3d;
}


.movies {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  place-items: center;
  gap: 5%;
  padding: 15px;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
  gap: 15px;
  width: 90%;
  height: 90%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.288), 0 1px 2px 0 rgba(0, 0, 0, 0.534);
  transition: all 300ms ease;
}

.movie:hover {
  transform: translateY(-8%);
}