.movies {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 5%;
  text-decoration: none;
  color: #ddd;
}

.movie {
  width: 90%;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-inline: 15px;
  background-color: rgba(14, 13, 13, 0.37);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: #ddd
}
